@charset "utf-8";
/* CSS Document */

/* Setup */
body {
	background-image: url(images/background.png);
	background-size: 30%;
	
	font-size: 100%;
	margin: 0 auto;
	position: relative;
}

/* Main Bin */
#mainContainer {
	height: auto;
	/* width: 70%; */
	margin-left: 15%;
	margin-right: 15%;
		
	background-color: rgba(255, 255, 255, 0.85);
	font-size: 1.2em;
	/*font-size: 2.5em;*/
	font-family: 'Raleway', sans-serif;
	color: #303030;
}

#content {
	background-color: rgba(255, 255, 255, 0.20);
}

#header {	
	/* starting at top, clockwise */
	padding: 1.5% 3.9% 1.5% 4%;
	
	background-color: rgba(0, 0, 0, 0.55);
	font-family: "Muli", sans-serif;
	font-size: 2.15em;
	color: #b8e7ff;
}

/* Navigation Bar */
#nav {
	padding: 1.10% 3.5% 1.6% 4.0%;
	background-color: rgba(0, 0, 0, 0.35);
	
	font-size: 1.65em;
	font-weight: 200;
	color: #FFF;
}

#pageLink {
	padding-right: 2.35em;
	padding-left: 0.75em;
	text-align: center;
}

#lastLink {
	text-align: center;
}
/* End Navigation Bar */


/* General Content */
#pageContent {
	padding: 3.5% 6.5% 0% 6.5%;
	font-size: 1.15em;
	font-weight:400;
	text-align: justify;
}

#general {
	padding: 1% 6.5% 0% 9%;
	font-size: 1.05em;
	text-align: justify;
	font-weight: 50%;
}

/* Video Content */
#videoBin {
	width: 50%;
	padding-bottom: 35%;
	margin-left: 5%;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	margin-bottom: 5%;
}

#descr {
	/*font-size: 1.0em;*/
	vertical-align: top;
	width: 35%;
	padding-left: 5%;
/*	padding: 25px 0px 25px 200px;*/
	display: inline-block;
	font-size: 1.05em;
}
/* End Video Content */

/* Image Content */
#gallery {
	padding: 5% 5% 5% 5%;
	width: 112.5%;
}
/* End Image Content */

#footer {
	height: auto;
/*	padding: 100px 75px 30px 75px; */
	padding: 5% 7.5% 3% 7.5%;
	text-align: center;
}


/* Link Settings */

/* navigation links */
a.nav:link {color: #FFF; text-decoration: none;} /* unvisited link */
a.nav:visited {color: #FFF;} /* visited link */
a.nav:hover {color: #b8e7ff;} /* mouse over link */

/* text contents links */
a.gen:link {color: #000; text-decoration: underline; font-style: oblique;}
a.gen:visited {color: #000; text-decoration: underline; font-style: oblique;}
a.gen:hover {color: #1f5c99;}

/* Font Settings */
@font-face {
    font-family:'Raleway Thin';
	src: url('raleway_thin-webfont.eot');
	src: url('raleway_thin-webfont.eot?#iefix') format('embedded-opentype'), url('raleway_thin-webfont.woff') format('woff'), url('raleway_thin-webfont.ttf') format('truetype'), url('raleway_thin-webfont.svg#raleway_thin') format('svg');
	font-weight: normal;
	font-style: normal;
}
