@charset "utf-8";
/* CSS Document */

/* Setup */
body {
	background-image: url(images/background.png);
	background-size: 30%;
	
	font-size: 100%;
	margin: 0 auto;
	position: relative;
}

/* Main Bin */
#mainContainer {
	height: auto;
	/* width: 70%; */
	margin-left: 15%;
	margin-right: 15%;
		
	background-color: rgba(255, 255, 255, 0.85);
	font-size: 1.2em;
	/*font-size: 2.5em;*/
	font-family: "ralewaylight", sans-serif;
	/*color: #303030;*/
	color: #202020;
}

#content {
	background-color: rgba(255, 255, 255, 0.20);
}

#header {	
	/* starting at top, clockwise */
	padding: 1.5% 3.9% 1.5% 4%;
	
	background-color: rgba(0, 0, 0, 0.55);
	font-family: "muliregular", sans-serif;
	font-size: 2.15em;
	color: #b8e7ff;
}

/* Navigation Bar */
#nav {
	padding: 1.10% 4.0% 1.6% 4.0%;
	background-color: rgba(0, 0, 0, 0.35);
	
	font-family: 'ralewayextralight', sans-serif;
	font-size: 1.65em;
	/*font-weight: 200;*/
	color: #FFF;
}

#pageLink {
	padding-right: 2.35em;
	padding-left: 0.75em;
	text-align: center;
}

#lastLink {
	text-align: center;
}
/* End Navigation Bar */


/* General Content */
#pageContent {
	padding: 3.5% 6.5% 0% 6.5%;
	font-size: 1.15em;
/*	font-weight:400;*/
	text-align: justify;
}

#general {
	padding: 1% 6.5% 0% 9%;
	font-size: 1.05em;
	text-align: justify;
	/*font-weight: 50%*/
}

/* Video Content */
#videoBin {
	width: 50%;
	padding-bottom: 35%;
	margin-left: 5%;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	margin-bottom: 5%;
}

#descr {
	/*font-size: 1.0em;*/
	vertical-align: top;
	width: 35%;
	padding-left: 5%;
/*	padding: 25px 0px 25px 200px;*/
	display: inline-block;
	font-size: 1.05em;
}
/* End Video Content */

/* Image Content */
#gallery {
	padding: 5% 5% 5% 5%;
	width: 112.5%;
}
/* End Image Content */

#footer {
	height: auto;
/*	padding: 100px 75px 30px 75px; */
	padding: 5% 7.5% 3% 7.5%;
	text-align: center;
}


/* Link Settings */

/* navigation links */
a.nav:link {color: #FFF; text-decoration: none;} /* unvisited link */
a.nav:visited {color: #FFF;} /* visited link */
a.nav:hover {color: #b8e7ff;} /* mouse over link */

/* text contents links */
a.gen:link {color: #000; text-decoration: underline; font-style: oblique;}
a.gen:visited {color: #000; text-decoration: underline; font-style: oblique;}
a.gen:hover {color: #1f5c99;}


/* Font Settings */

html, html a {
    
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) */
/*@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.eot');
    src: url('raleway-regular-webfont.svg#ralewayregular') format('svg'),
    	 url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype');
}*/

@font-face{
    font-family: 'ralewayextralight';
    src: url('raleway-extralight-webfont.eot');
    src: url('raleway-extralight-webfont.svg#ralewayextralight') format('svg'),
    	 url('raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-extralight-webfont.woff') format('woff'),
         url('raleway-extralight-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'ralewaylight';
    src: url('raleway-light-webfont.eot');
    src: url('raleway-light-webfont.svg#ralewaylight') format('svg'),
    	 url('raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-light-webfont.woff') format('woff'),
         url('raleway-light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'muliregular';
    src: url('muli-regular-webfont.eot');
    src: url('muli-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-regular-webfont.woff') format('woff'),
         url('muli-regular-webfont.ttf') format('truetype'),
         url('muli-regular-webfont.svg#muliregular') format('svg');
}


